.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 0.3s ease-out;
}

.feynman__link:hover {
  opacity: .5;
}
